<%- include('./partials/header') %>
<%- include('./partials/navbar') %>

<div class="container">
    <h1 class="text-center mt-3">Edit Blog</h1>
    <form class="validate-form" action="/<%= blog._id %>?_method=PATCH" method="POST" novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">Blog Title</label>
            <input type="text" class="form-control" id="title" value="<%= blog.title %>" name="blog[title]" required>
        </div>
        <div class="mb-3">
            <label for="img_url" class="form-label">Blog Image URL</label>
            <input type="text" class="form-control" id="img_url" value="<%= blog.img_url %>" name="blog[img_url]" required>
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Blog Content</label>
            <br>
            <textarea class="form-control" rows="10" cols="100" id="desc" name="blog[desc]" required><%= blog.desc %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Done</button>
    </form>
</div>

<%- include('./partials/footer') %>