<%- include('./partials/header') %>
<%- include('./partials/navbar') %>

<div class="container">

    <%- include('./partials/flash') %>

    <% for(blog of blogs) { %>

        <div class="card text-dark bg-light mb-3 mt-3" style="border: 2px solid black;">
            <div class="row g-0 m-2">
                <div class="col-md-4">
                    <img src="<%= blog.img_url %>" alt="..." width=200 height=200>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title"><%= blog.title %></h3>
                        <p class="card-text"><small class="text-muted">Author: <%= blog.author %></small></p>
                        <a href="/<%= blog._id %>/"><button type="button" class="btn btn-dark">Read this blog</button></a>
                    </div>
                </div>
            </div>
        </div>
    
    <% } %>
</div>

<%- include('./partials/footer') %>